html {
	box-sizing: border-box; 
}
*, *::before, *::after {
	box-sizing: inherit; 
}
html, body {
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	
	background-color: #849d8f;
	min-width: 900px;
}
/*Мороженое и кнопка*/
.site-wrapper {
	min-width: 900px;
	background-color: #849d8f;
	background-image: url(../img/ice-cream.png);
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease,
				background-color 0.5s ease;
	
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url(../img/ice-chocolate.png);
}

.site-wrapper::before {
  background-image: url(../img/ice-plum.png);
}
.content-wrapper {
	width: 1200px;
	margin: 0 auto;
	/*padding: 0 10px;*/
}
/*.container {
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
}*/

.slider {
	position: relative;
	padding-top: 275px;
	text-align: center;
	color: #ffffff;
	margin-left: 27px;
	margin-right: 27px;
	
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 60px;
}
.slider-controls {
	position: absolute;
	bottom: 10px;
	left: 0;
	z-index: 20;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
body > input[type="radio"] {
	display: none;
}
.slider-top {
	display: none;
	
	
}
#button-1:checked ~ .site-wrapper #slide1,
#button-2:checked ~ .site-wrapper #slide2,
#button-3:checked ~ .site-wrapper #slide3 {
	display: block;
}
#button-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url(../img/ice-cream.png);
}

#button-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url(../img/ice-chocolate.png);
}

#button-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/ice-plum.png);
}
#button-1:checked ~ .site-wrapper label[for="button-1"],
#button-2:checked ~ .site-wrapper label[for="button-2"],
#button-3:checked ~ .site-wrapper label[for="button-3"] {
	background-color: #ffffff;
}

h2{
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.main-navigation {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
	margin: 0 27px;
	
	/*background-color: #849d8f;*/
}
.site-navigation,
.sub-navigation,
.user-navigation {
	list-style: none;
}
.site-navigation a,
.sub-navigation a,
.user-navigation a {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-style: dotted;
	display: block;
	padding: 9px 0;
	vertical-align: middle;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;
	/*background-color: #ffffff;
	border-radius: 20px;
	margin: 9px 12px;*/
	text-decoration: none;
}
/*.user-navigation a:hover,
.user-navigation a:focus*/
/*Кнопки*/
.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	background-color: #f26843;
	border: none;
	cursor: pointer;
}
.slide {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	background: #f26843;
	width: 278px;
	height: 63px;
	border-radius: 100px;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	cursor: pointer;
	padding: 16px 41px;
	text-decoration: none;
	display: ;
	vertical-align: top;
	margin-top: -50px;
}

label:hover {
	background-color: #c5cfc8;
}
.slide:hover,
.want:hover,
.product-view:hover,
.send:hover,
.feedback:hover,
.sign-up:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	background-color: 	rgba(255, 255, 255, 0.2);
	box-shadow: 		0 2px 2px rgba(172, 16, 0, 1);
}
.slide:active,
.slide:focus,
.want:active,
.want:focus,
.product-view:active,
.product-view:focus,
.send:active,
.send:focus
.feedback:active,
.feedback:focus,
.sign-up:active,
.sign-up:focus {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: 		inset 0 2px 2px rgba(172, 16, 0, 1);
	background-color: 	rgba(0, 0, 0, 0.07);
}
.want {
	background: -webkit-linear-gradient(90deg, #ca3824 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #ca3824 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #ca3824 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #ca3824 0%, #f26843 100%);
	background: linear-gradient(0deg, #ca3824 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
	width: 165px;
	height: 46px;
	border-radius: 100px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	cursor: pointer;
	padding: 14px 22px;
	text-decoration: none;
	margin-left: 374px;
}
.chocolate .want {
	margin-left: 350px;
	
}
.product-view {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 1px 2px 0px #ac1000;
	background-color: #e84d37;
	width: 200px;
	height: 44px;
	border-radius: 100px;
	font-size: 18px !important;
	font-weight: 700 !important;
	line-height: 24px !important;
	color: #fefefe;
	padding: 13px 17px;
	text-decoration: none;
}
.send {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	width: 129px;
	height: 44px;
	border-radius: 100px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #fefefe;
}
.feedback {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	background-color: #e84d37;
	width: 252px;
	height: 44px;
	border-radius: 100px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #fefefe;
	text-decoration: none;
	padding: 13px 28px;
}
.sign-up {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	background-color: #e84d37;
	width: 100px;
	height: 44px;
	border-radius: 100px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #fefefe;
}
.header-logo {
	padding-top: 9px;
}
.promo h3 {
	background: rgba(255, 45, 82, 0.5);
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	color: #ffffff;
	margin-top: 17px;
	margin-left: 17px;
	margin-bottom: -3px;
}
.promo p {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #ffffff;
	margin-bottom: 55px;
	margin-left: 20px;
	margin-right: 30px;
}
.promo {
	/*background: rgba(255, 45, 82, 0.2);
	box-shadow: 0 0 0 3px rgb(255, 45, 82);*/
	padding-top: 50px;
	margin-left: 27px;
	margin-right: 27px;
}
.raspberries {
	background: url(../img/raspberries_new.jpg) no-repeat;
	border-radius: 15px;
	width: 560px;
	height: 229px;
	background-color: #6d000b;
}
.chocolate {
	background: url(../img/chocolate_new.jpg) no-repeat;
	border-radius: 15px;
	width: 560px;
	height: 229px;
	background-color: #070100;
}
.features h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	padding-top: 24px;
	padding-left: 19px;
}
.features-list {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #323232;
	list-style: none;
	background: rgba(255, 45, 82, 0.2);
	box-shadow: 0 0 0 3px rgb(255, 45, 82);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: -16px;	
}
.features-item p {
	width: 476px;
}
.second {
}
.features-list .ice-cream,
.features-list .cow,
.features-list .eco,
.features-list .thermometer {
	position: relative;	
}
.ice-cream::before {
	content: "";
	position: absolute;
	top: -14px;
	left: -59px;
	
	background-image: url(../img/ice-cream.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 49px;
	height: 49px;
}
.cow::before {
	content: "";
	position: absolute;
	top: -96px;
	left: 506px;
	
	background-image: url(../img/cow.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 49px;
	height: 49px;
}
.eco::before {
	content: "";
	position: absolute;
	top: 74px;
	left: -611px;
	
	background-image: url(../img/eco.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 49px;
	height: 49px;
}
.thermometer::before {
	content: "";
	position: absolute;
	top: -8px;
	left: -47px;
	
	background-image: url(../img/thermometer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 49px;
	height: 49px;
}
.features {
	background-image: url(../img/waffle_new.png);
	background-position: 0 0;
	background-repeat: repeat;
	border-radius: 15px;
	background-color: #ece1c7;
	width: 1146px;
	height: 306px;
	margin-left: 27px;	
}
.blog-info p {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #ffffff;
	margin-top: 12px;
}
.blog-info b {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	margin-top: -13px;
}
.blog-info {
	margin-top: -14px;
}
.products {
	background: rgba(0, 128, 0, 0.2);
	box-shadow: 0 0 0 3px green;
	
	margin: 0 27px;
	margin-top: 40px;
}
.products {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.products a {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}
.product-view {
	display: none;
}
.price {
	font-weight: 700;
	line-height: 45px;
	font-size: 45px;
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
	margin-top: -60px;
	margin-right: 114px;
}
.price span{
	font-weight: 700;
	line-height: 45px;
	font-size: 30px;
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.advice-block {
	background: rgba(255, 45, 82, 0.2);
	box-shadow: 0 0 0 3px rgb(255, 45, 82);
	padding-top: 40px;
	margin-left: 27px;
	margin-right: 27px;
}
.blog p {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-left: 20px;
	margin-top: 26px;
}
.blog a {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #323232;
	margin-left: 20px;
	margin-top: -13px;
	width: 290px;
	display: block;
}
.blog a:hover,
.blog a:active,
.blog a:focus {
	color: #e84d37;
	outline: none;
}
.blog {
	background: url(../img/strawberry.jpg);
	border-radius: 15px;
	width: 560px;
	height: 220px;
	
}
.subscribe {
	background: url(../img/post.png) no-repeat;
	border-radius: 15px;
	width: 560px;
	height: 220px;
}
.subscribe-fon {
	width: 549px;
	min-height: 210px;
	border-radius: 10px;
	background-color: #f8f7f4;
	margin: 5px;
}
.subscribe p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #5a5a5a;
	display: inline-block;
	position: relative;
	top: 16px;
	left: 27px;
	max-width: 510px;
}
.subscribe input {
	font: inherit;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	width: 368px;
	height: 44px;
	background-color: #ffffff;
	margin-left: 20px;
	margin-right: 11px;
	margin-top: 35px;
	padding-left: 15px;
	
}
input:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	background-color: #ffffff;
}
input:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	background-color: #ffffff;
}
.address {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.address-bold {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	
}
.tel-bold {
	line-height: 22px;
	font-size: 18px;
	font-weight: 700;
}
.map {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	min-width: 1200px;
	min-height: 430px;
	background: #e9e2c6 url(../img/map.jpg) 50% 50% no-repeat;
	margin-top: 40px;
}
.map-form {
	width: 302px;
	height: 305px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.98);
	margin-top: 62px;
	margin-right: 27px;
	padding: 16px 25px;
}
.button-map {
	margin-top: 41px;
}
.main-footer {
	color: #ffffff;
	background-color: #849d8f;
	
	margin-left: 27px;
	margin-right: 27px;
	margin-top: 18px;
}
.footer-social a {
	text-decoration: none;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between;*/
	width: 182px;
	margin: 0 auto;
	padding: 0;
	margin-right: 8px;
}
.footer-social svg {
	margin-top: 18px;
	width: 38px;
	height: 38px;
	fill: #ffffff;
	fill-opacity: 0.8;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	z-index: -1;
}
.social-button-tw,
.social-button-insta,
.social-button-vk,
.social-button-fb {
	color: #ffffff;
	opacity: 0.8;
}
.footer-info {
	text-align: center;
	background: rgba(255, 45, 82, 0.2);
	box-shadow: 0 0 0 3px rgb(255, 45, 82);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 326px;
	margin-right: 55px;
}
.footer-info a {
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	
}
.footer-info li {
	display: flex;
	/*align-items: center;
	justify-content: center;
	width: 326px;*/	
}

.footer-info a:hover,
.footer-info a:focus {
	text-decoration: none;
}
.footer-copyright {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #fefefe;
	margin-top: 1px;
}
.footer-copyright a {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #fefefe;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
	text-decoration: none;
}
/*Иконки футера*/

/*Модальные формы*/
.modal-enter-form {
	background-color:#f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	width: 277px;
	height: 214px;
	border-radius: 5px;
	padding: 20px 18px;
}
.registration a {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #323232;
}
.modal-enter-form input[type="email"],
.modal-enter-form input[type="password"] {
	width: 241px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	background-color: #ffffff;
	padding-left: 15px;
	margin-bottom: 20px;
}
input[type="email"]:hover,
input[type="password"]:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	background-color: #ffffff;
}
input[type="email"]:focus,
input[type="password"]:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	background-color: #ffffff;
}
.modal-enter-form .registration {
	margin-left: 3px;
}
.modal-search-form {
	width: 341px;
	height: 84px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	background-color: #f8f7f4;
	padding: 20px 15px;
}
.modal-search-form input[type="search"] {
	width: 311px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	background-color: #ffffff;
	padding-left: 15px;
}
input[type="search"]:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	background-color: #ffffff;
}
input[type="search"]:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	background-color: #ffffff;
}
.modal-feedback {
	width: 477px;
	height: 442px;
	border-radius: 10px;
	background-color: #f8f7f4;
	padding-left: 25px;
	
}
.modal-feedback h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	padding-top: 10px;
}
.modal-feedback input{
	width: 267px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	background-color: #ffffff;
	padding-left: 15px;
	margin-bottom: 20px;
}
.modal-feedback textarea {
	width: 428px;
	height: 155px;
	border-radius: 5px 4px 4px 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	background-color: #ffffff;
	padding-left: 15px;
	margin-bottom: 20px;
	padding: 13px 15px;
}
.btn-send {
	margin-left: 300px;
}
input:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	background-color: #ffffff;
}
input:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	background-color: #ffffff;
}
textarea:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	background-color: #ffffff;
}
textarea:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	background-color: #ffffff;
}
/*Сетки*/
.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pagination {
	display: flex;
	justify-content: flex-end;
}
.product-item {
	width: 267px;
	margin: 0;
	padding: 0;
}
.main-navigation {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	/*min-width: 935px;*/
}
.blog-info {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	margin-right: 27px;
}
.site-navigation {
	display: flex;
	flex-wrap: wrap;
	/*background: rgba(234, 255, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
	/*margin-right: 328px;*/
	padding-top: 5px;
	margin-right: 290px;
	/*max-width: 463px;*/
}
.site-navigation li {
	margin: 0;
	margin-right: 41px;
	margin-left: -15px;
}
.site-navigation .sub-navigation {
	position: absolute;
    left: 215px;
    display: none;
    width: 140px;
	margin: 0;
    padding: 5;
    border-radius: 10px;
    list-style: none;
    background: #ffffff;
	text-decoration: none;
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.site-navigation .sub-navigation a {
    
}
.site-navigation > li:hover .sub-navigation {
    display: block;
}
.site-navigation > li:hover .sub-navigation a {
    color: #323232;
}
.sub-navigation li:last-child a {
	padding-bottom: 10px;
}
.user-navigation {
	max-width: 262px;
	display: flex;
	justify-content: flex-end;
	padding-top: 6px;
	background: rgba(234, 255, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}
.user-navigation li {	
	margin-right: 27px;
	
	/*background-color: rgba(255, 255, 255, 0.2);
	border-radius: 30px;*/
	text-decoration: none;
}
.user-navigation li:last-child {
	margin-right: 6px;
}
.user-navigation li:first-child {
	margin-right: 16px;
}
.user-navigation .login-link,
.user-navigation .empty-link {
	position: relative;
	padding-left: 44px;
	
}
.login-link::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 16px;
	
	background-image: url(../img/entrance.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 21px;
	height: 19px;
}
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}
.user-navigation .search-link {
	position: relative;
	padding-left: 44px;
}
.search-link::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 26px;
	
	background-image: url(../img/loupe.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 21px;
	height: 19px;
	/*border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 20%;*/
	cursor: pointer;
}
.empty-link::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 16px;
	
	background-image: url(../img/basket.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 21px;
	height: 19px;
}
.footer-info .heart {
	position: relative;	
}
.heart::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -25px;
	
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 15px;
	height: 13px;
}

